
html,
body {
  background: #f6f9f9;
  font-family: "Economica", "Lato", Helvetica, sans-serif;
  font-family: "Open Sans", "Lato", Helvetica, sans-serif;
  color: black;
  margin: 2em;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text h1 {
  color: #2d3950;
  margin-bottom: 0.3em;
}

.text p {
  color: #909090;
  margin-bottom: 5em;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.conteiner__pic {
  max-width: 1500px;
  display: flex;
  flex-wrap: wrap;
  height: 270px;
}

.picture1 {
  background: url(..//pic/1.jpg) no-repeat;
  background-size: cover;
}

.picture2 {
  background: url(..//pic/2.jpg) no-repeat;
  background-size: cover;
}

.picture3 {
  background: url(..//pic/3.jpg) no-repeat;
  background-size: cover;
}

.picture4 {
  background: url(..//pic/4.jpg) no-repeat;
  background-size: cover;
}

.picture5 {
  background: url(..//pic/5.jpg) no-repeat;
  background-size: cover;
}

.picture6 {
  background: url(..//pic/6.jpg) no-repeat;
  background-size: cover;
}

[class*="picture"] {
  position: relative;
  width: 470px;
  height: 270px;
  margin: 10px;
}

.buttons_wrapper {
  position: absolute;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(43, 122, 250, 0.5);
  display: none;
}

.button1 {
  position: absolute;
  background-image: url("..//pic/button1.png");
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
  height: 41px;
  width: 41px;
  top:40%;
  left:45%;
  transition: 0.3s;
  opacity: 0.85;
}

.button2 {
  position: absolute;
  background-image: url("..//pic/button2.png");
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid white;
  height: 41px;
  width: 41px;
  top:40%;
  left:55%;
  transition: 0.3s;
  opacity: 0.85;
}

[class*="picture"]:hover .buttons_wrapper {
  display: block;
}

.button1:hover,
.button2:hover {
  opacity: 1;
}


.bigpicture__wrapper {
  position:absolute;
  background-color:rgb(246,249,249,0.9);
  height:900px;
  width: 1450px;
  top:0%;

}

.bigpicture__container {
  position:absolute;
 left:-1%;
 top:20%;
 height:650px;
 width: 1455px;
 border: 2px solid #999999;
}

.bigpic {
width: 100%;
height: 100%;
position:absolute;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}


.cross {
  position: absolute;
  right:3%;
  top:-3%
}